@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto';
}

#page-container {
    display: grid;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "sidebar header header header header"
        "sidebar content content content content"
        "sidebar content content content content"
        "sidebar content content content content"
        "sidebar content content content content"
        "sidebar content content content content";
}

#header {
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "searchContainer profile"
        "greeting nav";
    box-shadow: 0 10px 10px 0 rgba(15, 15, 15, 0.1);
    z-index: 10;
}

#search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: searchContainer;
}

#search-container img {
    height: 30px;
    width: 30px;
    transform: translate(-5%, -48%);
}

#search-input {
    font-size: 20px;
    padding-left: 16px;
    padding-right: 8px;
    background-color: rgb(233, 238, 245);
    border-radius: 30px;
    width: 82%;
    height: 37px;
    border: none;
    transform: translate(2%, -40%);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 18px;
    width: 18px;
    background: url('icons/close-octagon.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

#nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav-button {
    background-color: rgb(3, 144, 209);
    border-radius: 25px;
    color: white;
    font-weight: bold;
    height: 46%;
    width: 80%;
    border: none;
    font-size: 18px;
    transform: translate(-25%, 40%);

}

#profile {
    grid-area: profile;
    display: flex;
    justify-content: space-between;
}

#user-name {
    font-weight: bolder;
    font-size: 24px;
    transform: translate(40%, -25%);
}

#user-name img {
    width: 30px;
    height: 30px;
    transform: translate(-55%, 20%);
}

#user-name #profile-picture {
    width: 75px;
    height: 75px;
    transform: translate(-5%, 35%);
}

#greeting {
    grid-area: greeting;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 65px;
    line-height: 1.8em;
}

#greeting .user-picture {
    height: 100px;
    width: 100px;
    /* transform: translate(65%, -5%); */
}

#greeting #user-name-greeting {
    font-size: 30px;
    font-weight: bolder;
}

#greeting .user-picture,
#greeting #hello-greeting {
    transform: translate(0%, -15%);
}

#nav {
    grid-area: nav;
}

#sidebar {
    font-weight: bold;
    grid-area: sidebar;
    background-color: rgb(3, 144, 209);
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-areas: 
        "dashboardTitle"
        "."
        "userTabs"
        "userTabs"
        "userTabs"
        "userTabs"
        "userTabs"
        "userTabs"
        "."
        "."
        "userPreferences"
        "userPreferences"
        "userPreferences";
}

#sidebar div {
    width: 100%;
    color: white;
    font-size: 40px;
}

#sidebar #dashboard-title {
    grid-area: dashboardTitle;
    font-size: 35px;
    transform: translate(8%, 10%);
}

#dashboard-title img {
    width: 55px;
    height: 55px;
    color: white;
    filter: brightness(0) invert(1);
    transform: translate(-10%, 25%);
}

#sidebar ul {
    list-style: none;
    line-height: 2.3em;
    font-size: 26px;
    transform: translate(5%, -8%);
}

li img {
    width: 30px;
    height: 30px;
    transform: translate(-80%, 15%);
    filter: brightness(0) invert(1);
}

#user-tabs {
    grid-area: userTabs;
}

#user-preferences {
    grid-area: userPreferences;
    transform: translate(0%, -45%);
}

#content {
    grid-area: content;
    background-color: rgb(233, 238, 245);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 0.1fr) repeat(1, 1fr) repeat(1, 0.05fr) repeat(1, 1fr);
    grid-template-areas: 
        "projectsHeader projectsHeader projectsHeader announcementsHeader"
        "showcase showcase showcase announcements"
        "showcase showcase showcase trendingHeader"
        "showcase showcase showcase trending";
}

.content-headers {
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.content-headers#projects {
    grid-area: projectsHeader;
    padding-left: 32px;
    padding-top: 45px;
}

.content-headers#announcements {
    grid-area: announcementsHeader;
    padding-top: 45px;
    margin-left: -8px;
}

.content-headers#trending {
    grid-area: trendingHeader;
    padding-top: 30px;
    margin-left: -8px;
}

#showcase {
    grid-area: showcase;
    padding-top: 10px;
    padding-left: 30px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

#showcase .card {
    height: 87%;
    width: 92%;
    border-radius: 8px;
    border: 1px solid black;
    margin: 0;
    gap: 0;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
        "."
        "description"
        "description"
        "description"
        "description"
        "actions"
        ".";
    box-sizing: border-box;
    border: none;
    border-left: 10px solid #f4b400;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    background: #fff;

    /* transform: translate(5%, 25%); */
}

.card-description {
    grid-area: description;
    padding-left: 30px;
    padding-right: 30px;
    transform: translate(0%, 6%);
}

.card .actions {
    display: flex;
    gap: 32px;
    grid-area: actions;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.card .actions img {
    width: 1.8rem;
    height: 1.8rem;
    align-self: flex-end;
}

.card h3 {
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 0;
    font-weight: 600;
}

.card p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin: 8px 0 16px;
    margin-top : 3px;
}

#announcements-container {
    grid-area: announcements;
    display: grid;
}

#announcements-container,
#trending-container {
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
    margin-bottom: -20px;
}

.side-card {
    background: #fff;
    height: 92%;
    width: 87%;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.side-card .section {
    grid-area: section;
    height: 25%;
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d1d0d0;
    box-sizing: border-box;
}

.side-card .section:nth-child(1) {
    margin-top: 35px;
}

.side-card .section:nth-child(2) {
    margin-top: 15px;
}

.side-card .section:nth-child(3) {
    margin-bottom: 30px;
    border-bottom: none;
}

#announcements-container .side-card h4 {
    font-size: 1.0em;
    margin: 0;
    margin-bottom: 3px;
    font-weight: 500;
}

#announcements-container .side-card p {
    font-size: 0.9em;
    margin: 0;
    margin-right: 10px;
    line-height: 1.2em;
    /* Multi-line truncation with ellipses */
    display: -webkit-box;
    -webkit-line-clamp: 3;   /* number of lines */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #555;
}

#announcements-container .section:last-child p {
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

#announcements-container .side-card .section:nth-child(2) h4 {
    margin-top: 25px;
}

#announcements-container .section:last-child h4 {
    margin-top: 25px;
}

#trending-container {
    grid-area: trending;
}

#trending-container .side-card-trending {
    background: #fff;
    height: 92%;
    width: 87%;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

#trending-container .side-card-trending .section-trending {
    height: 20%;
    width: 80%;
}

#trending-container .side-card-trending .section-trending img {
    height: 20px;
    width: 20px;
}


